.header {
    background: linear-gradient(to right, #00008B, #800080);
    padding: 20px;
    height: 70px;
    margin-bottom: 30px;
    /* Делаем, чтобы объекты в блоке располагались в одну линию, а не друг под другом */
    display: flex;
    /* Делаем выравнивание объектов по ширине */
    justify-content: space-between;
}
body {
    background-color: black;
    color: white;
}
/* Стили для больших блоков */
.header-menu, .main-content, .script-cards, .row {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
/* Стили для меню в шапке сайта */
.header-menu {
    display: flex;
    justify-content: space-between;
    /* Делаем так, чтобы все дочерние блоки выравнивались по середине (по высоте) */
    align-items: center;
    width: 1000px;
}
/* Стили для кнопок меню в шапке сайта */
.header-menu-buttons {
    display: flex;
    align-items: center;
}
/* Стили для логотипа */
.logo, .logo:hover {
    font-size: 30px;
    font-weight: bold;
     /* Делаем так, чтобы несмотря на то, что логотип является ссылкой, он не выделялся при наедении и всегда был белым */
    color: white;
    text-decoration: none;
}
.big-header {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 50px;

}

/* Общие стили для виджетов - всех кнопок и ссылок на страницу пользователя */
.big-button, .middle-button, .small-button, .user-info-for-header-menu-block, input[type=file]::file-selector-button {
    border-radius: 999px;
    text-decoration: none;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}
/* Отдельные настройки для всех кнопок (не включая кнопку для перехода на страницу пользователя) */
.big-button, .middle-button, .small-button, input[type=file]::file-selector-button {
    border: none;
    outline: none;
    background-color: yellow;
    color: black;
}
/* Одна и та же анимация при наведении для виджетов */
.big-button:hover, .middle-button:hover, .small-button:hover, input[type=file]::file-selector-button,
 .user-info-for-header-menu-block:hover {
    transform: scale(1.05);
    text-decoration: none;
}
/* Размер для больших кнопок и ссылок на страницу пользователя */
.big-button, .filter {
    padding: 10px 20px;
    font-size: 18px;
}
/* Размер для средних кнопок и кнопки выбора файла */
.middle-button, input[type=file]::file-selector-button{
    padding: 7px 14px;
    font-size: 14px;
}
/* Для маленьких кнопок */
.small-button {
    padding: 5px 10px;
    font-size: 10px;
}
/* Стили для кнопки перехода на страницу пользователя */
.user-info-for-header-menu-block {
    display: flex;
    background-color: #1d1d1d;
    color: white;
    outline-style: solid;
    outline-color: yellow;
    outline-width: 2px;
    font-size: 18px;
    padding: 10px 20px;
}

/* Стили для линии */
.line {
    /* ширина полосы на весь экран */
   width: 100%;
   height: 2px; /* высота полосы */
   background-color: #1d1d1d; /* цвет полосы */
   margin-top: 20px;
   margin-bottom: 20px;


}
/* Стили для блоков - карточек сценария, форм, различных блоков */
.script-card, .user-form, .script-form, .user-rating-and-subscribers-count-block, .user-description-block,
 .horizontal-script-card, .script-description-for-script-page, .script-review-block, .script-mark-block {
    padding: 10px;
    outline-style: solid;
    outline-color: #1d1d1d;
    outline-width: 2px;
    border-radius: 15px;
    justify-items: space-between;

}
/* Отдельные стили для горизонтальной карточки сценария */
.horizontal-script-card  {
    display: flex;
    margin-top: 20px;
}

.right-part-for-horizontal-script-card, .left-part-for-horizontal-script-card {
    width: 50%;
}
.user-rating-and-subscribers-count-block, .user-description-block {
    margin-top: 20px;
}
.user-description-block {
    margin-bottom: 20px;
}
.users-name-and-subscribe-or-edit-button-block {
    align-items: center;

}
.users-name-and-subscribe-or-edit-button-block .middle-button {
    margin-left: 20px;
}


/* Стили для объектов, которые являются ссылками, но не выделяются как ссылки */
.main-script-card-content, .main-script-card-content:hover, .horizontal-script-card, .horizontal-script-card:hover,
 .left-part-for-horizontal-script-card, .left-part-for-horizontal-script-card:hover, .author-info, .author-info:hover {
    text-decoration: none;
    color: white;
}
.script-card {
    display: inline-block;
    text-align: center;
}
.script-card:hover {
    background-color: #1d1d1d;
}
.author-info-block-for-script-card {
    justify-content: left;
    margin-bottom: 20px;
}
.author-info-block-for-mark-block {
    display: flex;
    justify-content: left;
}
/* Стили для изображений пользователя */
.author-image-for-script-card, .user-image-for-header-menu {
    border-radius: 999px;
    max-width: 30px;
    max-height: 30px;
    margin-right: 10px;
}

.author-username-for-script-card {
    font-size: 18px;
    display: inline-block;
}

.script-image-block-for-script-card, .script-image-for-horizontal-script-card {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.script-image-block-for-script-card img {
    width: 215;
    height: 310;
    display: block;
    /* Создание анимации для изображения на карточке сценария */
    transition: filter 0.5s ease-in-out;
}
/* Стили для блока, который накладывается на изображение на карточке сценария при наведении для отображения описания */
.script-image-overlay-for-script-card {
    /* Блок накладывается на изображение, занимая его полностью  */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* Весь контент этого блока выровнен по центру как по вертикали, так и по горизонтали */
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Цвет */
    background: linear-gradient(to right, #00008B, #800080);
    color: white;

    border-radius: 15px;
    font-size: 16px;

    opacity: 0; /*  Изначально блок невидимый */
    transition: opacity 0.5s ease-in-out; /* Анимация проявления этого блока */
    /* Перенос слов */
      word-wrap: break-word;
    white-space: normal;
}

/* Показывать overlay при наведении на .script-image */
.script-image-block-for-script-card:hover .script-image-overlay-for-script-card {
    opacity: 0.8; /* Изменяем opacity при наведении */
}

.script-info-block-for-script-card {
    margin-top: 10px;
}
.script-title-for-script-card {
    font-size: 18px;

}
.script-genre-for-script-card {
    font-size: 16px;

}
/* Блок, который отвечает за отображение всех карточек сценария на главной странице */
.script-cards {
  /* Делаем так, чтобы карточки отображались сеткой по 4 в ряд, и между ними было расстояние в 20 пикселей*/
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Четыре карточки в ряду */
  gap: 20px;
}

/* Стили для пагинации - меню с выбором номера страницы на главной странице сайта */
.pagination > li > a {
    /* Так как этот блок создан при использовании bootstrap, чтобы задать свои стили, нужно использовать !Important;*/
    background-color: black !Important;
    border-color: #1d1d1d !Important;
    border-width: 1px;
    color: white;
}
/* Стили для кнопки текущей страницы */
.pagination > .active > a {
    background-color: #1d1d1d !Important;
    color: yellow;
}
.pagination > li > a:hover {
    color: white;
    background-color: #1d1d1d !Important;
}
/* Стили для форм */
.user-form, .script-form {
    margin-top: 40px;
    margin-bottom: 30px;
    max-width: 500px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
/* Стили для полей форм */
.form-control, .form-control:focus, .form-control:valid {
    background-color: #1d1d1d;
    color: white;
    margin-bottom: 0px;
}
.form-field-block {
    margin-bottom: 10px;
}
/* Стили для заголовков форм */
.title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.user-image {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}
.user-image img, .script-image-for-script-page img {
    border-radius: 15px;
}
.script-image-for-horizontal-script-card {
     margin-left: 5%;
}

.script-info-for-horizontal-script-card {
    margin-left: 5%;
    font-size: 18px;
}
/* Стиль для номера сценария в топе лучших сценариев пользователя */
.script-top-place-number {
    font-size: 50px;
    margin-left: 5%;
}
.script-rating-for-horizontal-script-card {
    margin-right: 10%;
    font-size: 18px;
    text-align: center;
    color: yellow;
}
.script-rating-for-horizontal-script-card .rating-number {
    font-size: 25px;
    margin-top: 0px;
}
/* Стиль для блоков, дочерние блоки которых должны располагаться в ширину */
.left-part-for-horizontal-script-card, .right-part-for-horizontal-script-card,
 .author-info-block-for-horizontal-script-card, .author-info-block-for-script-page,
  .rating-block-for-script-page, .author-info, .script-main-data-block-for-script-page,
   .users-name-and-subscribe-or-edit-button-block, .author-info-block-for-script-card,
    .script-title-and-rating-for-script-page, .script-mark-block, .review-title-date-and-author,
     .script-page-content-block  {
    display: flex;
}
/* Стиль для блоков, дочерние блоки которых должны быть выровнены по ширине */
.author-info-block-for-script-page, .rating-block-for-script-page, .script-page-content-block,
 .script-mark-block, .review-title-date-and-author {
    justify-content: space-between;
}
.author-info-block-for-script-page, .rating-block-for-script-page {
    margin-bottom: 10px;
}
.script-mark-block {
    padding: 20px;
}
.script-description-for-script-page {
    width: 100%;
    /* Перенос строк */
    word-wrap: break-word;
    white-space: normal;
}
.script-image-for-horizontal-script-card, .script-image-for-script-page {
    margin-right: 5%;
}

.user-info-block {
    margin-left: 5%;
}
.script-review-block {
    padding: 20px;
}


*  {
font-family: Courier New;


}

