.header {
    background: linear-gradient(to right, #00008B, #800080);
    margin: 0px;
    margin-bottom: 40px;
    padding: 20px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body {
    background-color: black;
    color: white;


}
.header-menu, .main-content, .script-cards{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;

}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;

}
.header-menu-buttons {
    display: flex;
    justify-content: right;
    align-items: center;
}


.logo, .logo:hover {
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.big-header {
    margin-bottom: 30px;
    font-size: 50px;

}
.best-script {
    background: linear-gradient(to right, #00008B, #800080);
    padding: 20px;
    border-radius: 15px;
    justify-content: left;
    font-size: 22px;


}
/* Общие стили для виджетов - всех кнопок, фильтров, ссылок на страницу пользователя */
.big-button, .middle-button, .small-button, .filter, .user-info-for-header-menu-block, input[type=file]::file-selector-button {
    border-radius: 999px;
    text-decoration: none;
    margin-right: 10px;

    transition: transform 0.3s ease-in-out;
}
/* Одна и та же анимация при наведении для виджетов */
.big-button:hover, .middle-button:hover, .small-button:hover, input[type=file]::file-selector-button,
 .filter:hover, .user-info-for-header-menu-block:hover {
    transform: scale(1.05);
    text-decoration: none;
}
/* Отдельные настройки для всех кнопок */
.big-button, .middle-button, .small-button, input[type=file]::file-selector-button {
    border: none;
    outline: none;
    background-color: yellow;
    color: black;
}
/* Размер для больших кнопок, фильтров и ссылок на страницу пользователя */
.big-button, .filter {
    padding: 10px 20px;
    font-size: 18px;
}
/* Размер для средних кнопок */
.middle-button, input[type=file]::file-selector-button{
    padding: 7px 14px;
    font-size: 14px;
}
/* Для маленьких */
.small-button {
    padding: 5px 10px;
    font-size: 10px;
}

.filter {
    background-color: #1d1d1d;
    color: white;
}
.user-info-for-header-menu-block {
    display: flex;
    background-color: #1d1d1d;
    color: white;
    outline-style: solid;
    outline-color: yellow;
    outline-width: 2px;
    font-size: 18px;
    padding: 10px 20px;

}
.top-buttons, .filters {
    display: flex;
}
.top-buttons {
    margin-top: 20px;
}

.line {
    /* ширина полосы на весь экран */
   width: 100%;
   height: 2px; /* высота полосы */
   background-color: #1d1d1d; /* цвет полосы */
   margin-top: 20px;
   margin-bottom: 20px;


}
.script-card, .user-form, .user-rating-and-subscribers-count-block, .user-description-block {
    padding: 10px;
    outline-style: solid;
    outline-color: #1d1d1d;
    outline-width: 2px;
    border-radius: 15px;
    justify-items: space-between;

}
.user-rating-and-subscribers-count-block, .user-description-block {
    margin-top: 20px;
}
.user-rating-and-subscribers-count-block p {
    margin: 0px;
}
.users-name-and-subscribe-or-edit-button-block {
    display: flex;
    align-items: center;

}
.users-name-and-subscribe-or-edit-button-block .middle-button {
    margin-left: 20px;
}

.script-card {
    display: inline-block;
    text-align: center;
}

.script-card:hover {
    background-color: #1d1d1d;
}
.author-info-block-for-script-card {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}
.author-image-for-script-card, user-image-for-header-menu {
    border-radius: 999px;
    max-width: 30px;
    max-height: 30px;
    margin-right: 10px;
}
.author-username-for-script-card {
    font-size: 18px;
}

.script-image-block-for-script-card {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.script-image-block-for-script-card img {
    /* width: 100%;
    height: auto; */
    width: 215;
    height: 310;
    display: block;
    transition: filter 0.5s ease-in-out;
}

.script-image-overlay-for-script-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, #00008B, #800080);
    border-radius: 15px;
    color: white;
    font-size: 16px;
    opacity: 0; /* Установите opacity: 0, чтобы изначально overlay был невидимым */
    transition: opacity 0.5s ease-in-out; /* Переход для opacity */
}

/* Показывать overlay при наведении на .script-image */
.script-image-block-for-script-card:hover .script-image-overlay-for-script-card {
    opacity: 0.8; /* Изменяем opacity при наведении */
}
.script-image-block-for-script-card:hover .script-image-for-script-card {
    filter: blur(5px);
}


.script-info-block-for-script-card {
    margin-top: 10px;
}
.script-title-for-script-card {
    font-size: 18px;

}
.script-genre-for-script-card {
    font-size: 16px;

}
.script-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Четыре карточки в ряду */
  gap: 20px;
}


.pagination > li > a {
    background-color: black !Important;
    border-color: #1d1d1d !Important;
    border-width: 1px;
    color: white;
}
.pagination > .active > a {
    background-color: #1d1d1d !Important;
    color: yellow;
}
.pagination > li > a:hover
{
    color: white;
    background-color: #1d1d1d !Important;

}
.bottom-menu {
    margin-top: 50px;
    margin-bottom: 70px;
    text-align: center;
    justify-content: space-between;
}
.bottom-menu-button {
   color: white;
   margin-right: 30px;
   font-size: 16px;
}
.user-form {
    margin-top: 40px;
    margin-bottom: 30px;
    max-width: 500px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.form-control, .form-control:focus, .form-control:valid {
    background-color: #1d1d1d;
    color: white;
    margin-bottom: 0px;
}

.form-field-block {
    margin-bottom: 0px;
}

.title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.user-image {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}
.user-image img {
    border-radius: 15px;
}
* {
font-family: Courier New;
}

