{% extends "base.html" %}

{% block content %}
<a class="big-button" href="/script/{{ script.id }}">Назад</a>
<div class="line"></div>
<h2>Все рецензии</h2>
<div class="line"></div>
{% if script.reviews %}
    {% for review in script.reviews %}
        <div class="script-review-block">
        <div class="review-title-date-and-author">
            <h4>{{ review.title }}</h4>
            <p>{{ review.date_of_publication }}</p>
            <div class="author-info-block-for-script-card">
                <img src="{{ url_for('static', filename=review.user.small_photo_path) }}" alt="author" class="author-image-for-script-card">
                <div class="author-user-name-and-rating-block-for-script-card">
                    <div class="author-username-for-script-card">{{ review.user.name }}</div>
                </div>
            </div>
        </div>
        <p>{{ review.text }}</p>
        </div>
    {% endfor %}
{% else %}
    <h4>Пока нет</h4>
{% endif %}
{% endblock %}