<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт для сценаристов</title>
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="../../static/css/style.css">

</head>
<body>
    <div class="header">
        <div class="header-menu">
            <div class="logo">PlotPilot</div>
            <div class="buttons">
                <a href="#" class="button">Сценарии</a>
                <a href="#" class="button">Мои сценарии</a>
                <a href="#" class="button">Личный кабинет</a>
            </div>
        </div>
    </div>
    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>
    <div class="bottom">
      <div class="bottom-menu">
        <a href="#" class="bottom-menu-button">Справка</a>
        <a href="#" class="bottom-menu-button">Поддержка</a>
        <a href="#" class="bottom-menu-button">Пользовательское соглашение</a>
      </div>
    </div>
</body>
</html>
