{% extends "base.html" %}

{% block content %}
        <div class="big-header">Сценарии</div>

        <div class="line"></div>

        <div class="best-script">
            Лучший сценарий за день
        </div>

        <div class="top-buttons">
            <a href="Пока ничего" class="big-button">Топ за сегодня</a>
            <a href="Пока ничего" class="big-button">Топ за неделю</a>
            <a href="Пока ничего" class="big-button">Топ за месяц</a>
        </div>

        <div class="line"></div>

    <form action="/filter" method="get">
        <div class="filters">
            <select class="filter" name="sort">
                <option value="all">Все типы</option>
            </select>
            <select class="filter" name="genre">
                <option value="all">Все жанры</option>
            </select>
            <select class="filter" name="recommendation">
                <option value="all">Для вас</option>
            </select>
            <div type="submit" class="big-button">Применить фильтры</div>
        </div>
    </form>

        <div class="line"></div>

        <div class="script-cards">
            {% for script in scripts %}
            <div class="script-card">
                <div class="author-info-block-for-script-card">
                    <img src="{{ url_for('static', filename=script.author.photo_path) }}" alt="author" class="author-image-for-script-card">
                    <div class="author-username-for-script-card">{{ script.author.name }}</div>
                </div>
                <div class="script-image-block-for-script-card">
                    <img src="{{ url_for('static', filename=script.photo_path) }}" alt="Изображение отсутствует" class="script-image-for-script-card">
                    <div class="script-image-overlay-for-script-card">
                        <p>{{script.description}}</p>
                    </div>
                </div>

                <div class="script-info-block-for-script-card">
                    <div class="script-title-for-script-card">{{ script.title }}</div>
                    <div class="script-genre-for-script-card">{{ script.genres }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="line"></div>

        <nav class="page-navigation-block">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    {% if current_page_number != 1 %}
                        <a class="page-link" href="/{{ current_page_number - 1 }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    {% endif %}
                </li>

                {% for i in pages_numbers %}
                    <li class="page-item">
                        {% if i == current_page_number %}
                             <li class="active">
                                <a class="page-link" href="{{ main_page_link }}{{ i }}">{{ i }}</a>
                             </li>
                        {% else %}
                            <a class="page-link" href="{{ main_page_link }}{{ i }}">{{ i }}</a>
                        {% endif %}
                    </li>
                {% endfor %}

                <li class="page-item">
                    {% if current_page_number != total_pages_count %}
                        <a class="page-link" href="{{ main_page_link }}{{ current_page_number + 1 }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    {% endif %}
                </li>
            </ul>
        </nav>

{% endblock %}
