{% extends "base.html" %}

{% block content %}

<form action="" method="post" class="user-form" enctype="multipart/form-data">
    <h1 class="title">Регистрация</h1>
    {{ form.hidden_tag() }}
    <p class="form-field-block">
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
        {% for error in form.email.errors %}
            <p class="form-alert" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p class="form-field-block">
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
            <p class="form-alert" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p class="form-field-block">
        {{ form.password_again.label }}<br>
        {{ form.password_again(class="form-control", type="password") }}<br>
        {% for error in form.password_again.errors %}
            <p class="form-alert" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p class="form-field-block">
        {{ form.photo.label }}<br>
        {{ form.photo() }}
        {% for error in form.photo.errors %}
            <p class="form-alert" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p class="form-field-block">
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="form-alert" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p class="form-field-block">
        {{ form.description.label }}<br>
        {{ form.description(class="form-control") }}<br>
        {% for error in form.description.errors %}
            <p class="form-alert" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="big-button") }}</p>
    {{message}}
</form>
{% endblock %}